:root {
    --customgrey: #2e2e2e;
    --customblack: #0c0c0c;
}

body {
    background-color: var(--customblack);
    color: white;
    font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    margin: 0;
}

header {
    background-color: var(--customgrey);
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.header-image {
    display: flex;
    height:38px;
}

#page-container {
    height: 100vh;
}

a {
    color:dodgerblue;    
}

#console {
    display: flex;
    flex-direction: column;
    justify-content: left;
    line-height: 1.2;
    padding-left: 10px;
}

#typed-text-container {
    display: flex;
    flex-direction: column;
}

.path {
    color: rgb(107, 107, 107);
}

#cursor {
    display: inline-block;
    animation: blink 1s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/***********************************
* RULES FOR DIFFERENT SCREEN SIZES *
***********************************/

/*********
* MOBILE *
*********/

@media screen and (max-width: 600px) {

    #header-control-buttons {
        display: none;
    }

}