


:root {
    --customgrey: #2e2e2e;
    --customblack: #0c0c0c;
}

body {
    background-color: var(--customblack);
    color: white;
    font-family: "Lucida Console", "Monaco", "DejaVu Sans Mono", monospace;
    font-size: 15px;
    margin: 0;
}

header {
    background-color: var(--customgrey);
    display: flex;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: center;
}

.header-image {
    display: flex;
    height:38px;
}

#page-container {
    height: 100vh;
}

#bio {
    display: flex;
    justify-content: left;
    padding-left: 10px;
}

#socials-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 0;
}

/***********************************
* RULES FOR DIFFERENT SCREEN SIZES *
***********************************/

/*********
* MOBILE *
*********/

@media screen and (max-width: 600px) {

    #header-control-buttons {
        display: none;
    }

}